- content_for :head do
  %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDC--on743cLRaWqTso3caJqlDguKtKOfs&sensor=false"

- content_for :sidebar do
  get space-timed
  
#map{:style => "height:100%"}

:javascript
  mapbox.auto('map', 'boxelder.map-2ueq8cki');