/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Set the correct sprite paths
$iconSpritePath: image-url('glyphicons-halflings.png');
$iconWhiteSpritePath: image-url('glyphicons-halflings-white.png');
@import "bootstrap";

.fill_height { 
	height:100%;
}

.height90 { height:88%; }

html {
	height:100%;
}

body { 
	padding-top: 62px; 
	height:100%;
}

#map_canvas img { max-width: none; width: auto; display:inline; }
#map_canvas label { width: auto; display:inline; }

@import "bootstrap-responsive";

.container-fluid {
	//padding:0;
}

.content {
	//background-color: #eee;
	//padding: 20px;
	//margin: 0 -20px; 
}


#sidebar {
	margin-top: 60px;	
}

.content_box {
	border: 1px solid #DDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px 
	rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px 
	rgba(0, 0, 0, .075);
}

